@import "tailwindcss";

@theme {
    --font-Inter: "Inter", sans-serif;
    --font-family: "Italianno", cursive;

    --color-primary: #B48F41;
    --color-secondary: #232323;
    --color-p: #2E3C42;
    --color-nav: #2E3C42;

    --breakpoint-*: initial;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1170px;
    --breakpoint-xxl: 1400px;
}
@utility  container{
    @apply w-full mx-auto;
}
@utility padding{
    @apply py-20 lg:py-25 md:py-22.5 px-5;
}
ul.lg\:flex.lg\:gap-x-3.max-lg\:space-y-3.max-lg\:fixed.max-lg\:bg-white.max-lg\:w-1\/2.max-lg\:min-w-75.max-lg\:top-0.max-lg\:left-0.max-lg\:p-6.max-lg\:h-full.max-lg\:shadow-md.max-lg\:overflow-auto.z-50 {
    background: #2E3C42;
}
body{
    overflow-x: hidden;
}
input.text-white.text-\[13px\].bg-transparent.border.border-primary.pl-4:focus,
input.text-white.text-\[13px\].bg-transparent.border.border-primary.pl-4:active {
    border: 1px solid #B48F41;
    outline: none;
}